@use "../utils/mixins";

.burger {
	--burger-width: 30px;
	--burger-height: 30px;
	--stick-height: 2px;
	--gap: 5px;
	--burger-color: #0bc4c4;
	--burger-active-color: #0bc4c4;

	@include mixins.btn-reset;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--gap);

	width: var(--burger-width);
	height: var(--burger-height);

	&.active &__stick {
		background-color: var(--burger-active-color);

		&:first-child {
			translate: 0 7px;
			rotate: -45deg;
		}

		&:nth-child(2) {
			opacity: 0;
			translate: 20px 0;
			visibility: hidden;
		}

		&:last-child {
			translate: 0 -7px;
			rotate: 45deg;
		}
	}

	&__stick {
		display: inline-block;

		width: var(--burger-width);
		height: var(--stick-height);

		background-color: var(--burger-color);
		border-radius: 10px;

		transition:
			rotate 220ms ease-in-out,
			translate 220ms ease-in-out,
			opacity 220ms ease-in-out,
			visibility 220ms ease-in-out,
			background-color 220ms ease-in-out;
	}
}
