// <input id="" type="checkbox" class="custom-checkbox" />

.custom-checkbox-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	user-select: none;
}

.custom-checkbox {
	appearance: none;
	margin: 0;
	padding: 0;

	position: relative;

	width: 20px;
	height: 20px;

	border: 1px solid #222;
	border-radius: 4px;

	&::before {
		content: "";
		opacity: 0;

		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;

		width: 80%;
		height: 80%;

		background-color: red;
		// background: url("") no-repeat center/cover;

		transition: opacity 150ms ease-in-out;
	}

	&:checked {
		&::before {
			opacity: 1;
		}
	}

	&:focus-visible {
		outline: 1px solid #222;
		outline-offset: 2px;
	}
}
